<div class="container-fluid p-0">
    <div class="d-flex h-100">
        <div class="flex-column bg-primary w-40">
           <app-banner></app-banner>
        </div>
        <div class="flex-column w-60 p-5 py-2">
            
            <div class="forgot-password-form">
                <h4 class="text-primary">Forgot your password?</h4>
                <h6 class="">Enter your email address below and we'll get you back on track.</h6>
                <br>
                <form [formGroup]="forgotPasswordForm">
                    <div class="form-group mt-2">
                        <label class="control-label">Email <span class="text-danger">*</span></label>
                        <input type="email" formControlName="user_email" class="form-control control-field"
                            [ngClass]="{ 'is-invalid': f.user_email.errors && (f.user_email?.touched || f.user_email?.dirty) }" />
                        <div *ngIf="f.user_email.errors && (f.user_email?.touched || f.user_email?.dirty) " class="invalid-feedback">
                            <div *ngIf="f.user_email.errors.required">Email is required</div>
                            <div *ngIf="f.user_email.errors.email">Invalid Email</div>
                        </div>
                    </div>
                    <br>
                  
                    <div class="form-group">
                        <button type="submit" [disabled]="forgotPasswordForm.invalid" class=" btn btn-primary float-end unset-border-radius"
                            (click)="CheckForAuthentication()">Request Password </button>

                            <a routerLink="/login"  class="col-md-4 btn btn-secondary unset-border-radius"
                            (click)="CheckForAuthentication()">Cancel </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>