<div class="form-group control-group p-2 date-picker-container" [formGroup]="group" >
    <label class="form-label">
        {{ config.label }}
        <strong class="text-danger" *ngIf="config.required == true">*</strong>
    </label>
    <div class="control-field ">
         <input type="text"
            placeholder="YYYY-MM-DD"
            [formControlName]="config.field_name"
            class="form-control"
            bsDatepicker
            [bsConfig]="{ 
                isAnimated: true, 
                dateInputFormat: 'YYYY-MM-DD',
                adaptivePosition: true,
                containerClass: 'theme-dark-blue' 
            }"
        > 
       
        <p class="help" *ngIf="config?.additional_info">{{config.additional_info}}</p>
        
        <ng-container *ngFor="let rule of config['validation_rules']" >
            <p class="help error_msg"
                *ngIf="group.get(config.field_name)?.hasError(rule.error_type) && (group.get(config.field_name)?.touched || group.get(config.field_name)?.dirty)">
                {{rule['error_msg']}}</p>
        </ng-container>
    </div>
</div>
